# https://editorconfig.org
root = true

[*]
tab_width       = 8
indent_size     = tab
indent_style    = tab
end_of_line     = lf
max_line_length = off

# C/C++
[*.{c,h,cc,hh,cxx,hxx,cpp,hpp,inl}]
tab_width       = 4
indent_size     = tab
indent_style    = space

# assembler-with-cpp
[*.{s,S,sx}]
tab_width       = 8
indent_size     = tab
indent_style    = tab

# dvp-gas assembly
[*.{dsm,vsm,vcl}]
tab_width       = 8
indent_size     = tab
indent_style    = tab

# Makefile
[{*{M,m}akefile*,*.{mk,mak,make}}]
tab_width       = 8
indent_size     = tab
indent_style    = tab

# Shell Scripts
[*.{sh,bash,ksh,zsh,csh,tcsh}]
indent_size     = 4
indent_style    = space
end_of_line     = lf

# Batch, PowerShell
[*.{bat,cmd,ps1}]
indent_size     = 4
indent_style    = space
end_of_line     = crlf

# Perl
[*.{pl,pm}]
indent_size     = 4
indent_style    = space

# Python
[*.py]
indent_size     = 4
indent_style    = space

# Game Command Language
[*.gcl]
tab_width       = 4
indent_size     = tab
indent_style    = tab

# GCL should be EUC-JP, but it's not supported.
# https://editorconfig.org/#supported-properties
charset         = utf-8
