/* -*- mode: c; tab-width: 4; indent-tabs-mode: nil; -*- */
#ifndef __ZOE3_FILE_CNF__
#define __ZOE3_FILE_CNF__

/*
 * CD/DVD から読み出すファイル
 */

FS_FILE_INFO fs_file_info[] = {
    { "stage.dat",  0, 0, 0, 0, 0 },    // 0
    { "movie.dat",  0, 0, 0, 0, 0 },    // 1
    { "vox.dat",    0, 0, 0, 0, 0 },    // 2
    { "demo.dat",   0, 0, 0, 0, 0 },    // 3
    { "stage.ada",  0, 0, 0, 0, 0 },    // 4
    { "slot.dat",   0, 0, 0, 0, 0 },    // 5
    { NULL,         0, 0, 0, 0, 0 }
};

#endif // {{{ END OF FILE }}}
/* vim:set ts=4 sw=4 sts=4 et ft=c: */
