/* -*- mode: c; tab-width: 4; indent-tabs-mode: t; -*- */
#ifndef __ZOE3_FILE_CNF__
#define __ZOE3_FILE_CNF__

/*
 * CD/DVD から読み出すファイル
 */

FS_FILE_INFO fs_file_info[] = {
	{ "stage.dat", 0x00000000, 0, 0, 0, 0 },
	{ "movie.dat", 0x00000000, 0, 0, 0, 0 },
	{ "vox.dat",   0x00000000, 0, 0, 0, 0 },
	{ "demo.dat",  0x00000000, 0, 0, 0, 0 },
	{ "stage.ada", 0x00000000, 0, 0, 0, 0 },
	{ "slot.dat",  0x00000000, 0, 0, 0, 0 },
	{ NULL,        0x00000000, 0, 0, 0, 0 }
};

#endif // {{{ END OF FILE }}}

/* Local variables: */
/* tab-width: 4 */
/* End: */
/* vi:set tabstop=4: */
